<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Mappy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <userSettings>
    <Mappy.Properties.Settings>
      <setting name="Submit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlwaysOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinimumSubmitQuantity" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TimeFormat" serializeAs="String">
        <value>hh:mm:ss tt</value>
      </setting>
      <setting name="MapBounds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MapPlayerTimerSpeed" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ScanTimerSpeed" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="IgnoreNoneEnglish" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExtendLogMessages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ApiKey" serializeAs="String">
        <value />
      </setting>
    </Mappy.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;libs" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
