<div class="options" id="options">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3>AppSettings</h3>
                <div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="AlwaysOnTopToggle">
                        <label class="form-check-label" for="AlwaysOnTopToggle">Always on top</label>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="ExtendedLogMessages">
                        <label class="form-check-label" for="ExtendedLogMessages">Extended Log Messages</label>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="KeepMapBoundariesWithinWindow">
                        <label class="form-check-label" for="KeepMapBoundariesWithinWindow">Restrict map to borders</label>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <h3>xivapi.com</h3>
                <p>If you wish to submit data to xivapi please enter your developer app key below</p>
                <p>Status: <span class="api-status">OFF</span></p>
                <div class="form-group">
                    <input type="text" class="form-control" id="ApiSubmitKey" placeholder="API Key">
                </div>
            </div>
        </div>
    </div>
</div>
