.log {
    position: absolute;
    z-index: 2;
    left: 0; top: 0; bottom: 0;
    width: 500px;
    background-color: #111;
    border-right: solid 1px #000;
    padding: 10px;

    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    color: #999;
}
