.options {
    position: absolute;
    z-index: 10;

    // center it
    top: 100px; left: 50%;
    transform: translate(-50%, 0);

    width: 720px;
    padding: 30px 20px;
    background: #353535;
    border: solid 1px #000;
    box-shadow: 0 1px 20px rgba(0,0,0,0.5);
    border-radius: 5px;

    // hide
    display: none;

    h3 {
        margin-bottom: 20px;
    }

    &.open {
        display: block;
    }

    .api-status {
        color: yellow;
    }
}
